@import 'variables';
#ballroom {
  margin-top: 75px;
  width: 100%;
  background-color: $primary-color;
  min-height: 80vh;
  display: flex;

  .row {
    overflow: hidden;
    width: 100%;
    display: flex;

    .ballroom-image {
      flex: 1;
      background-repeat: no-repeat;
      background-position: 50% 50%;
      background-size: cover;
    }
    .ballroom-text {
      background-image: url('../images/01.svg');
      background-repeat: no-repeat;
      background-size: 20% 20%;
      background-position: 15vw 30%;
      margin-top: 50px;
      text-align: left;
      flex: 1;
      align-items: flex-start;
      flex-direction: column;
      justify-content: center;
      display: flex;
      @include for-phone-and-tiny-phone {
        background-position: 4vw -15%;
        background-size: 50% 50%;
      }
      @include for-tablet-portrait-only {
        background-position: 10vw 0%;
        background-size: 50% 50%;
      }
      button {
        margin-left: 15vw;
        background: #ffffff;
        border: 1px #4f4f50 solid;
        font-family: 'cinzelbold';
        text-transform: lowercase;
        width: 30%;
        height: 50px;
        font-size: 14;
        margin-bottom: 5%;
        cursor: pointer;
        @include for-phone-and-tiny-phone {
          margin-left: 4vw;
          width: 60%;
        }
        @include for-tablet-portrait-only {
          margin-left: 10vw;
          width: 50%;
        }
      }
      h1 {
        margin-left: 15vw;
        margin-right: 15%;
        color: #3b3e55;
        font-family: 'cinzelregular';
        text-transform: uppercase;
        font-size: 40px;
        @include for-phone-and-tiny-phone {
          margin-left: 4vw;
          font-size: 28px;
        }
        @include for-tablet-portrait-only {
          margin-left: 10vw;
        }
      }
      h4 {
        margin-left: 15vw;
        margin-right: 15%;
        color: #c7bfaa;
        font-family: 'cinzelbold';
        font-size: 14px;

        text-transform: uppercase;
        @include for-phone-and-tiny-phone {
          margin-left: 5vw;
        }
        @include for-tablet-portrait-only {
          margin-left: 10vw;
        }
      }
      p {
        margin-left: 15vw;
        margin-right: 15%;
        color: #999aa3;
        font-family: 'open_sansregular';
        font-size: 15px;
        @include for-phone-and-tiny-phone {
          margin-left: 5vw;
        }
        @include for-tablet-portrait-only {
          margin-left: 10vw;
        }
      }
    }
  }
}
