@import 'variables';


html {
  position: relative;

  margin: 0px;
  padding: 0px;
  width: 100%;
  display: initial;
  body {
    overflow-x: hidden;

    position: relative;

    margin: 0px;
    display: initial;
    padding: 0px;
  }
}
